# List

* list is nothing but collection of different types of data like array in c language 
* list represented by[]braces

In [7]:
l=[2,5,3.4,true,[1,2,3]]
print(l)

NameError: name 'true' is not defined

# list slicing

In [12]:
marks=(2,3,4,7,10,10,20)
marks

(2, 3, 4, 7, 10, 10, 20)

# list methods

In [8]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [13]:
marks=(2,3,4,7,10,10,20)
marks

(2, 3, 4, 7, 10, 10, 20)

In [15]:
index=0
while index<len(marks):
    print(marks[index])
    index+=-1

2
20
10
10
7
4
3
2

IndexError: tuple index out of range

In [17]:
names =["mahesh,ravi,raghu,krish,balu"]
names

['mahesh,ravi,raghu,krish,balu']

NameError: name 'name' is not defined

In [23]:
#task-1:print the names which names end with 'u' character
#sample output:raghu balu
names ="mahesh ravi raghu krish balu"
m=names.split(' ')
for i in m:
    if (i[-1]=='u'):
        print(i)

raghu
balu

In [25]:
#task2:print the names which length has maximum
#sample output :mahesh
names ="mahesh ravi raghu krish balu"
s=names.split(' ')
m=0
for i in s:
    l= len(i)
    if (l>m):
        m=l
for j in s:
    if(len(j)==m):
        print(j)

mahesh

In [ ]:
#task3:print the names which ends with ovels(a,e,i,o,u)
#sample output:ravi raghu balu
names ="mahesh ravi raghu krish balu"

In [ ]:
#task4:palindrom string :need to find and print whether 
#this string is a palindrome or not .if yes,print"YES" else print"NO"
#string

# tuples

* tuples is a immutable data type in python
* it is also like list but ity can't change once created
* it is represented by (paranthesis)symbol

In [29]:
t =tuple()
t

()

In [30]:
ages =(20,21,40)
ages

(20, 21, 40)

# indexing in tuples

In [33]:
ages[0]

20

In [34]:
ages[-1]

40

# slicing in tuples

In [36]:
ages[0:2]

(20, 21)

In [37]:
ages[::-1]

(40, 21, 20)

In [38]:
ages[0]=10

TypeError: 'tuple' object does not support item assignment

In [40]:
len(ages)

3

In [42]:
min(ages)

20

In [43]:
max(ages)

40

# tuples methods

In [47]:
ages.index(20)

0

In [48]:
ages.count(20)

1

In [49]:
x,y,z=ages

In [51]:
print(x,y,z)

20 21 40

In [52]:
ages

(20, 21, 40)

In [53]:
a=1,2,3
a,type(a)

((1, 2, 3), tuple)

In [54]:
for item in ages:
    print(item)

20
21
40

In [58]:
for item in ages[::-1]:
  print(item)

40
21
20

In [ ]:
#task-6
#Two string:Given two strings of equal length,you have to tell whether
they both strings are identical.(strings)
Input Format:abc cab
output Format:"yes"